.App.dark {
    background-color: rgb(var(--very-dark-blue));
}

.dark nav h1 {
    color: rgb(var(--white));
    margin: 0px;
}

.dark #themeToggle {
    color: rgb(var(--white)) ;
}

.dark #themeToggle h4 {
    font-weight: 700;

}

.dark #themeToggle button {

    background-color: white;
    -webkit-mask-image: url('../assets/icon-sun.svg');
    mask-image: url('../assets/icon-sun.svg');
}

.dark #themeToggle.hover {
    cursor:pointer;
}

.dark #themeToggle.hover h4 {
    color: rgb(var(--grey-slate));
}
.dark #themeToggle.hover button {
    background-color: rgb(var(--grey-slate));
}


.dark #error {
    background-color: rgb(var(--dark-blue));
}

.dark form {
    background-color: rgb(var(--dark-blue));
    box-shadow: none;
}

.dark form input {
    color: rgb(var(--white));
}

.dark form input::placeholder {
    color: rgb(var(--white));
}
