.App.dark {
    background-color: rgb(var(--very-dark-blue));
}

.dark nav h1 {
    color: rgb(var(--white));
    margin: 0px;
}

.dark #themeToggle {
    color: rgb(var(--white)) ;
}

.dark #themeToggle h4 {
    margin-right: 1rem;
    font-weight: 700;

}

.dark #themeToggle button {
    width: 1.25rem;
    height: 1.25rem;
    background: none;
    border: none;
    background-color: white;
    -webkit-mask-image: url('../assets/icon-sun.svg');
    mask-image: url('../assets/icon-sun.svg');
}

.dark #themeToggle.hover {
    cursor:pointer;
}

.dark #themeToggle.hover h4 {
    color: rgb(var(--grey-slate));
}
.dark #themeToggle.hover button {
    background-color: rgb(var(--grey-slate));
}