.App.light {
  background-color: rgb(var(--gray));
}

.light nav h1 {
  color: rgb(34, 39, 49);
  margin: 0px;
}

.light #themeToggle {
  color: rgb(var(--white));
}

.light #themeToggle h4 {
  font-weight: 700;
  color: rgb(var(--grey-slate));
}

.light #themeToggle button {
  background-color: rgb(var(--grey-slate));
  -webkit-mask-image: url("../assets/icon-moon.svg");
  mask-image: url("../assets/icon-moon.svg");
}

.light #themeToggle.hover {
  cursor: pointer;
}

.light #themeToggle.hover h4 {
  color: rgb(34, 39, 49);
}
.light #themeToggle.hover button {
  background-color: rgb(34, 39, 49);
}

.light form {
  background-color: rgb(var(--light-white));
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.light form #error {
  background: rgb(var(--light-white));
}

.light main {
  background-color: rgb(var(--white));
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.light article {
  background: rgb(var(--white));
}

.light #name h1{
  color: black;
}

.light #join{
  color: rgb(var(--grey-slate));
}

.light #bio {
  color: rgb(var(--grey-slate));
}

.light #stats {
  background-color: rgb(var(--gray));
}

.light .stat {
  color: rgb(var(--grey-slate));
}

.light .stat h2 {
  color: rgb(var(--dark-slate));
}

.light .link .icon {
  background: rgb(var(--white));
}

.light .link a {
  color: rgb(var(--slate));
}


.light .link .icon {
  background: rgb(var(--slate));
}
.light .link p {
  color: rgb(var(--slate));
}